<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- 공통 헤더 -->
	<th:block th:replace="~{fragments/head :: headFragment}"></th:block>

	<body>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<!-- 사이드바 -->
		<th:block th:replace="~{fragments/sidebar :: sidebarFragment}"></th:block>
		<!--  상단바 -->
		<th:block th:replace="~{fragments/topbar :: topbarFragment}"></th:block>
		<!-- 본문 -->
		<th:block layout:fragment="content"></th:block>
		<!-- 공통 하단 -->
		<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
	</body>
</html>