<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mangoe.menu.service.MenuMapper">

	<select id="userMenuList" resultType="com.mangoe.support.format.CamelMap">
		/*
		MenuMapper.userMenuList
		조회
		*/
		select
			a.role_id
			,a.menu_id
			,b.uri
			,b.menu_nm
			,b.upper_menu_id
		from
			(
			select
				role_id
				,menu_id
			from 
				tb_menu_role_map
			where 
				role_id = #{userRole}
			) a
		left join tb_menu b on a.menu_id = b.menu_id
	</select>
	
</mapper>